<!-- LOADER -->
<div id="loader">
  <div class="loader">
    <div class="position-center-center"> <img src="{{site.url}}/images/logo.png" alt="" width="90">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</div>

<!-- Page Wrapper -->
<div id="wrap">

  <!-- Top bar -->
  <div class="top-bar">
    <div class="container">
      <div class="col-md-6">
        <ul class="row">
          <li class="margin-right-20">
            <p><i class="fa fa-envelope-o margin-right-10"></i><a href="mailto:contacto@teck.com.mx">{{site.email}}</a></p>
          </li>
          <li class="margin-right-20">
            <p><i class="fa fa-phone margin-right-10"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></p>
          </li>
        </ul>
      </div>

      <!-- Social Icon -->
      <div class="col-md-6 text-right social-top">
        <!-- Social Icon -->
        <ul class="social-icons">
          <li><a href="{{site.facebook_page}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{site.twitter_page}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="header coporate-header">
    <div class="sticky">
      <div class="container">
        <div class="logo"> <a href="{{site.url}}">
          <img src="{{site.url}}/images/logo.png" alt="" width="80"></a>
        </div>

        <!-- Nav -->
        <nav>
          <ul id="ownmenu" class="ownmenu">
            <li class="active"><a href="{{site.url}}">INICIO</a></li>
            <li><a href="{{site.url}}/servicios">SERVICIOS</a> </li>
          </ul>
        </nav>
        <a href="{{site.url}}/contacto" class="waves-effect waves-ripple any-help z-depth-1">CONTACTO</a> </div>
    </div>
  </header>
  <!-- End Header -->
